@import "./index.scss";
html,body{
	width:100%;
	height:100%;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Pingfang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
	background-color: #fff;
	color: #97989a;
	font-size: 16px;
	line-height: 1.4;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	.el-message{
		min-width: auto;
		background-color: black;
		border: 1px solid black;
		border-color: black;
		opacity: 0.8;
		top: 250px;

	}
	/*element-ui自定义组件样式*/
	.el-message--info .el-message__content{
		color: #fff;
	}
	.el-message .el-icon-info{
		display: none;
	}
	.el-loading-mask{
		background: transparent !important;
		.el-loading-spinner{
			left:50%;
			transform:translateX(-50%);
			padding:5px 4px;
			padding-bottom: 0;
			width:auto;
			background:rgba(0,0,0,.8);
			border-radius:4px;
			color:#fff;
			i{
				color:#fff;
				font-size: 20px;
			}
		}
		.el-loading-text{
			color:#fff;
		}
	}
}
i,em,strong{
	font-style:normal;
	font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#555;
}
li{
	list-style:none;
}
input{
	border:none;
	outline: none;
	display: inline-block;
	background-color:transparent;
}
button{
	width: 100%;
	line-height: 38px;
	border: none;
	box-sizing: border-box;
}
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active{
	transition: transform .4s cubic-bezier(0.1, 0.57, 0.1, 1);
	-webkit-backface-visibility: hidden;
}

.slide-left-enter,
.slide-left-leave-to{
	-webkit-backface-visibility:hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0)
}
.slide-right-enter,
.slide-right-leave-to{
	-webkit-backface-visibility:hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:translate3d(100%,0,0);
	transform: translate3d(100%,0,0)
}
.opacity{
	@keyframes opcity-animation{
		0%{
			opacity:1;
		}
		50%{
			opacity:1;
		}
		100%{
			opacity:0;
		}
	}
}
.body_wrap{
	position:absolute;
	height:100%;
	width:100%;
	background: linear-gradient(0deg, #352c25 0, #1d1c1c 100%);
}
.maincontent{
	min-height: 100.2%;
}
.btn-gold{
	background-color: #ffc334;
	border-radius: 4px;
	color: #333;
	border: 1px solid #f1b90c;
}
.contwrap{
	@include position(top,bottom,.9rem,0);
	width:100%;
	overflow: hidden;
}
.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9999;
	bottom: 2px;
	top: 2px;
	right: 2.5px;
	overflow: hidden;
	width:2.5px;
}
.iScrollIndicator {
	background: rgba(128,128,128,.6);
	border-style: solid;
	border-radius: 1.25px;
	border-color:$headcolor;
}
.up{
	line-height:30px;
	text-align: center;
	color:#aaa;
	font-size: 14px;
}

